    <%- include('partials/header.ejs') %>

<div class="iss-body bodies">
       <div class="title-card">
         <h2>ISS Tracker</h2>
    <p>Check out the location of the ISS right now on the map. Refresh the page to see updated coordinates.</p>
       </div>
    <hr>
    <div class="iss-data">
        <div class="iss-coords">
            <p>Longitude: <%= lat %> | Latitude: <%= long %></p>
        </div>
        <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
</div>
<script>
 const map = new maplibregl.Map({
  container: 'map',
  style: 'https://api.maptiler.com/maps/streets/style.json?key=n5CZFC6Vd0b63TudNUtW', 
    center: [<%=long%>, <%=lat%>],
  zoom: 2
});

  map.addControl(new maplibregl.NavigationControl());

  new maplibregl.Marker({ color: 'red' }) 
  .setLngLat([<%=long%>, <%=lat%>]) 
  .addTo(map);
</script>

     <%- include('partials/footer.ejs') %>